
.home {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(mahsiswa.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.mahasiswa {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0)), url(mahasiswa-2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
